.app__header {
  background-color: rgba($app-color, 0.85);
  height: $header-height;
  left: 0;
  //position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;

  &:before {
    background-color: $app-color;
    bottom: 0;
    content: '';
    height: 0.2rem;
    left: 0;
    position: absolute;
    right: 0;
  }

  > .app__container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding-bottom: $grid-gutter-width / 2;
    padding-top: $grid-gutter-width / 2;


  }
  .app__container__logo {
    display: flex;
    flex-direction: column;
    .logo-description {
      font-family: 'nexa-bold';
      font-size: 2rem;
      color: $primary-color;
      transition-duration: 0.2s;
      -webkit-transition-duration: 0.2s;
    }
  }

  h1 {
    color: #000;
    font-family: Bungee, sans-serif;
    font-size: 4rem;
    margin: 0;

    > * {
      vertical-align: middle;
    }

    span {
      display: inline-block;
      margin-left: $grid-gutter-width / 2;
    }
  }
}

