.app__menu {
	line-height: $header-height-min;
	background: $app-color;	
	width: 100%;
	ul {
		margin: 0;
	}
 	&-primary {
		@include app-container ();
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		list-style: none;

		li {
			font-family: 'nexa-bold';
			font-size: $font-size-h4;
			text-transform: uppercase;
			padding: 0 0.3rem;
			&:hover {
				color: $secondary-color;
			}
			&:active {
				color: $primary-color;
			}
		}
	}
 
}	
.fixed_top {
	position: fixed;
	top: 0;
	margin: 0;
}