.app__menu {
	line-height: $header-height-min;
	background: $app-color;	
	z-index: 50;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100vw;
	ul {
		margin: 0;
		width: 100vw;
	}
 	&-primary {
		@include app-container ();
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		list-style: none;

		li {
			a {
				font-family: 'nexa-bold';
				font-size: $font-size-h4;
				text-transform: uppercase;
				padding: 0 1.5rem;
				color: $text-color;

				&:hover {
					color: $primary-color;
				}
				&:active,&.active {
					color: $secondary-color;
				}
			}
		}
	}


}	
.fixed_top {
	position: fixed;
	top: 0;
	margin: 0;
}