button {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 0;

  &:active,
  &:focus,
  &:hover {
    box-shadow: 1px 2px 4px rgba($white, 1);
  }
}

.btn {
  text-transform: uppercase;
  box-shadow: none !important;
}

.btn-icon {
  align-items: center;
  display: inline-flex;
  line-height: 1;

  span {
    font-weight: 700;
    margin-left: $grid-gutter-width / 6;
    text-transform: uppercase;
  }
}

.btn-outline-primary {
  border: 1px solid $primary-color;
  &:active,
  &:focus,
  &:hover {
    border: 1px solid $primary-color;
    box-shadow: 2px 2px 4px rgba($white, 1);
  }
}

.btn-outline-secondary {
  border: 1px solid $secondary-color;
  &:active,
  &:focus,
  &:hover {
    border: 1px solid $secondary-color;
    box-shadow: 2px 2px 4px rgba($white, 1);
  }
}

.btn-loading {
  @include striped-bg();
  animation: btn-loading 0.5s linear infinite;
  filter: grayscale(30%);
  pointer-events: none;
  transition: none !important;

  &--light {
    @include striped-bg(45deg, $gray-500, $gray-400);
  }
}

@keyframes btn-loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 5.6rem 0;
  }
}
