button {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 0;

}

.btn {
  text-transform: uppercase;
  box-shadow: none !important;
  padding: $grid-gutter-width / 8 $grid-gutter-width /1.5;
}

.btn-icon {
  align-items: center;
  display: inline-flex;
  line-height: 1;

  span {
    font-weight: 700;
    margin-left: $grid-gutter-width / 6;
    text-transform: uppercase;
  }
}

.btn-outline-primary {
  background-color: rgba($app-color, 0.3);
  border: 1px solid $primary-color;
  &:active,
  &:focus,
  &:hover {
    border: 1px solid $primary-color;
    background-color: rgba($primary-color, 0.5);
    color: invert($app-color);
  }
}

.btn-outline-secondary {
  background-color: rgba($app-color, 0.3);
  border: 1px solid $secondary-color;
  &:active,
  &:focus,
  &:hover {
    border: 1px solid $secondary-color;
    background-color: rgba($secondary-color, 0.5);
    color: invert($app-color);
  }
}

.btn-loading {
  @include striped-bg();
  animation: btn-loading 0.5s linear infinite;
  pointer-events: none;
  transition: none !important;

  &--light {
    @include striped-bg(45deg, $primary-color, $secondary-color);
  }
}

@keyframes btn-loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 5.6rem 0;
  }
}
