.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  opacity: 1 !important;
  position: relative;
  transition: opacity 0.5s;

  &__main {
    min-height: 100vh;
    
 
  }
 

  &__container {
    @include app-container();
    
  }

  &__route {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
  }
  a {
    text-decoration: none;
  }
 
}
