.app__home {
 
  .app__container {
    position: relative;
    z-index: 10;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }
 

  h1 {
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.4;
    margin-bottom: $grid-gutter-width;
    text-align: center;

    @include lg {
      font-size: 4rem;
    }
  }
}
